# dependencies
node_modules/

# build output
dist/

# astro
.astro/

# misc
.DS_Store
*.pem
.vscode/

# debug
npm-debug.log*
pnpm-debug.log*

# typescript
tsconfig.tsbuildinfo

# local env files
.env
.env.*
!.env.example
