---
---

<div class="about-grid">
  <div class="pic-outer-container">
    <div class="pic-container">
      <img class="pic" src="/kye-nyc.jpg" width="100%" height="100%" alt="Kye Burchard" />
    </div>
  </div>
  <div class="intro">
    <h1>Hey! I'm Kye.</h1>
  </div>
  <div class="about-content">
    <p>
      I'm currently a staff engineer at Stripe, running a high-throughput service with an SLO of
      99.9999% uptime and building the next-generation API platform for building scalable,
      performant, and reliable REST and GraphQL APIs.
    </p>
    <p>
      Before that, I was a full-stack engineer, optimizing performance, pushing the boundaries of
      reliability, driving code quality, and working on other platform-shaped problems across a
      massive React application and Ruby backend. I'm a recent graduate from MIT (course 6-2), a
      tech enthusiast, and an optimist with a passion for learning.
    </p>
    <p>
      Previously, I led the Logistics team for a 1500 person hackathon (HackMIT), served as
      treasurer, then president, then tech chair of Maseeh Hall (MIT's largest dorm), interned at
      Microsoft and Stripe, and worked as an undergrad researcher at the MIT Media Lab.
    </p>
    <p>
      I love being outdoors whenever I can find time — whether that means skiing at Arapahoe Basin,
      gravel bikepacking along the California coastline, backpacking the John Muir Trail, exploring
      wherever I happen to be at the moment, or just finding a spot outside to walk or chill with a
      good book or podcast.
    </p>
  </div>
  <div class="social-links">
    <a class="social-link" href="https://github.com/kyeb/">
      <i class="fab fa-github"></i>
    </a>
    <a class="social-link" href="https://twitter.com/kyeburchard">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="social-link" href="mailto:kyeb@mit.edu">
      <i class="fas fa-envelope"></i>
    </a>
    <a class="social-link" href="/kyeb_resume.pdf">
      <i class="fas fa-file-alt"></i>
    </a>
  </div>
</div>
