---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import profilePic from '../assets/kye-nyc.jpg';
---

<div class="about-grid">
  <div class="pic-outer-container">
    <div class="pic-container">
      <Image class="pic" src={profilePic} alt="Kye Burchard" loading="eager" />
    </div>
  </div>
  <div class="intro">
    <h1>Hey! I'm Kye.</h1>
  </div>
  <div class="about-content">
    <p>
      I'm working on <a href="https://falconer.com">Falconer</a>, the next generation of knowledge
      tooling for engineers.
    </p>
    <p>
      Before that, I was a staff engineer at Stripe, running a high-throughput service with an SLO
      of 99.9999% uptime and building the next-generation API platform for building scalable,
      performant, and reliable REST and GraphQL APIs.
    </p>
    <p>
      Previously, I led the Logistics team for a 1500 person hackathon (HackMIT), served as
      treasurer, then president, then tech chair of Maseeh Hall (MIT's largest dorm), interned at
      Microsoft and Stripe, and worked as an undergrad researcher at the MIT Media Lab.
    </p>
    <p>
      I love being outdoors whenever I can find time — whether that means skiing at Arapahoe Basin,
      gravel bikepacking along the California coastline, backpacking the John Muir Trail, exploring
      wherever I happen to be at the moment, or just finding a spot outside to walk or chill with a
      good book or podcast.
    </p>
  </div>
  <div class="social-links">
    <a class="social-link" href="https://github.com/kyeb/" aria-label="GitHub">
      <Icon name="tabler:brand-github" size={24} />
    </a>
    <a class="social-link" href="https://twitter.com/kyeburchard" aria-label="Twitter">
      <Icon name="tabler:brand-twitter" size={24} />
    </a>
    <a class="social-link" href="mailto:kyeb@mit.edu" aria-label="Email">
      <Icon name="tabler:mail" size={24} />
    </a>
    <a class="social-link" href="/kyeb_resume.pdf" aria-label="Resume">
      <Icon name="tabler:file-text" size={24} />
    </a>
  </div>
</div>
