.grid {
  display: grid;
  grid-template-rows: 5vh auto 5vh auto 5vh auto 5vh auto 5vh;
}

.grid p {
  padding: 0.3rem;
}

@media (max-width: 599px) {
  .grid {
    grid-template-rows: 5vh auto 5vh auto 5vh auto 5vh auto 5vh;
  }
}

.picOuterContainer {
  display: flex;
  justify-content: center;
  grid-row-start: 2;
}

.picContainer {
  width: 20%;
}

@media (max-width: 599px) {
  .picContainer {
    width: 60%;
  }
}

.pic {
  border-radius: 50%;
}

.intro {
  display: flex;
  justify-content: center;
  grid-row-start: 4;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.content {
  grid-row-start: 6;
  font-size: 1.1rem;
}

.links {
  grid-row-start: 8;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.link {
  transition: 0.2s;
}

.link:hover {
  color: grey;
}
