/* Shared styles for content across the site */

/* https://www.webfx.com/blog/web-design/hyperlink-design/ */
.content a {
  text-decoration: none;
  color: var(--link);
  padding-bottom: 1px;
  border-bottom: 1px solid var(--link-underline);
}

.content a:hover {
  border-bottom: 1px solid var(--link);
}

.content p {
  padding-bottom: 0.5em;
}
