.grid {
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: 5vh auto 1fr;
  height: 100%;
}

.leftContainer {
  display: grid;
  grid-template-columns: 5vw auto 1fr;
  grid-template-rows: 20vh auto 1fr;
}

.navContainer {
  grid-column-start: 2;
  grid-row-start: 2;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

.navItemCurrent {
  font-weight: 400;
}

.navItem:hover {
  text-decoration: underline;
}

.mainContainer {
  padding: 6%;
  background-color: var(--light);
  grid-column-start: 2;
  grid-row-start: 2;
  border-radius: 5px;
}

.rightContainer {
}
