.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5em;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.header {
  font-weight: 300;
  font-size: 2rem;
  padding-bottom: 3rem;
}

/* make the description/action grow to fit the grid box */
.projectContainer {
  display: flex;
  flex-direction: column;
}
.projectDescriptionContainer {
  flex-grow: 1;
}

/* put the action at the bottom of the grid box */
.projectDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectHeader {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5em;
}

.projectDescription p {
  padding-bottom: 0.5em;
}

.projectIconImageContainer {
  height: 1em;
}

.projectIconImage {
  height: 100%;
}

.projectAction {
  display: flex;
  justify-content: center;
}

.projectActionLink {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
